{% extends 'base.html' %}
{% block content %}
    <section class="login-page">
        <h2>Zmień hasło</h2>
        <form method="POST" class="form-group">
            <div class="form-group">
                {{ form.as_p }}
                {% csrf_token %}
            </div>
            <div>{{ message }}</div>
            <div class="form-group form-group--buttons">
                <a href="/EditProfile/" class="btn btn--without-border">Ustawienia</a>
                <button class="btn" type="submit">Zmień hasło</button>
            </div>
        </form>
    </section>
{% endblock %}