{% extends 'base.html' %}
{% block content %}
    <section class="login-page">
        <h2>Nowe hasło</h2>
        <form method="POST" class="form-group">
            <input class="hidden" name="email" value="{{ user.email }}">
            <div class="form-group">
                {{ form.as_p }}
                {% csrf_token %}
            </div>
            <div>{{ message }}</div>
            <div class="form-group form-group--buttons">

                <button class="btn" type="submit">Zmień hasło</button>
            </div>
        </form>
    </section>
{% endblock %}